.home-page {
  position: relative;
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -30px;
      left: 15px;
      opacity: 0.6;
    }
    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      //   position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }
  .typewriter-container {
    position: relative;
    animation: fadeIn 1s 1.8s backwards;
    .typewriter-effect {
      color: #ffd700;
      height: 65px;
      font-size: 53px;
      margin-top: -2%;
      font-family: 'Coolvetica';
      font-weight: 400;
      margin-top: 20px;
      letter-spacing: 2px;
      overflow: hidden;
      border-right: 3px #fff solid;
      white-space: nowrap;
    }
    .software-engineer {
      width: 30%;
      position: absolute;
      opacity: 0;
      animation: typing1 15s steps(25, end) infinite;
      animation-delay: 1.5s;
    }
    .developer {
      width: 50%;
      position: absolute;
      opacity: 0;
      animation: typing2 15s steps(25, end) infinite;
      animation-delay: 6.5s;
    }
    .database {
      width: 30%;
      position: absolute;
      opacity: 0;
      animation: typing3 15s steps(25, end) infinite;
      animation-delay: 11.5s;
    }

    .type:nth-child(1) {
      animation: typing1 15s steps(25, end) infinite;
    }

    .type:nth-child(2) {
      animation: typing2 15s steps(25, end) infinite;
      animation-delay: 5s;
    }

    .type:nth-child(3) {
      animation: typing3 15s steps(30, end) infinite;
      animation-delay: 10s;
    }

    @keyframes typing1 {
      0%,
      33% {
        width: 0;
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      25% {
        width: 60%;
      }
      32% {
        opacity: 1;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }

    @keyframes typing2 {
      0%,
      33% {
        width: 0;
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      25% {
        width: 97%;
      }
      32% {
        opacity: 1;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }

    @keyframes typing3 {
      0%,
      33% {
        width: 0;
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      25% {
        width: 60%;
      }
      32% {
        opacity: 1;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }
  }
  h2 {
    color: black;
    margin-top: 100px;
    font-weight: 400;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 7px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background-color: #ffd700;
      color: #333;
    }
  }
}
